<div class="fluid-container">
<navbar></navbar>


<button ng-click="newRegister()">{{This is for one button to Register}}</button>
<button ng-click="Find()">{{This is to search for a registry}}</button>
    
<img src="http://res.cloudinary.com/dlree1c9i/image/upload/v1480695610/el5ihm6x9qo-mindy-olson-p_zxss2x.jpg" width="100%" heigh="auto">
<div class="fluid-container">
      <div class="row"> 
     <div class="col-md-12">
      <h1 align="center">This Section Is For Description of Site</h1> 
  </div>
<div class="fluid-container">
 <div class="row"> 
 <div class="col-md-6">
 Where is this</div>
 <div class="col-md-4">
 Where is this </div>

</div> 


</div>
