   <div class="container">
        <div class="col-md-12" align="center">
            <h1 align="center">We Are A Tech Startup</h1>
            <div class="container">
               <div class="row">
                <p align="center">this is what we are about so on and so forth.</p>
            <div class="container">
               <div class="col-md-4">
            <div class="row">
         	<img src="http://res.cloudinary.com/dlree1c9i/image/upload/v1481127919/dbx2nglsgn8-swaraj-tiwari_aeyfem.jpg" width="80%" height="auto">
			<H2>Co-Founder</H2>
			<p>This is a co-founder spot</p>
		</div>
		<div>
			<H1></H1>
			<img src="http://res.cloudinary.com/dlree1c9i/image/upload/v1481128157/9d13mjimeie-kate-zaidova_ql8siv.jpg" width="80%" height="auto">
			<H2>Co-Founder</H2>
			<p>This is a co-founder spot</p>
            </div>
        </div>
    </div>
